# 2018년 3월 28일 점프투파이썬 2장
## 테스트
- 숫자형
    1. 기능1
    2. 기능2
- 문자형
- 리스트

1. 숫자형
2. 문자형

In [1]:
print("3번째 수업")

3번째 수업

In [2]:
123

123

## 1절 숫자형

In [4]:
123

123

In [5]:
456

456

In [6]:
1+2

3

In [7]:
1*3

3

In [8]:
7/4

1.75

In [9]:
-7/4

-1.75

In [10]:
7//4

1

In [11]:
7%4

3

In [12]:
1-0.9

0.09999999999999998

### Lab 1
#### 수익 계산
- 변수 revenue를 생성 후 98456 할당
- 변수 cost를 생성 후 45000 할당
- 변수 profit을 생성후 revenue와 cost 차이값으로 설정
- profit 출력

In [30]:
revenue = 98456
cost = 45000
profit = revenue - cost
print(profit)

53456

## 2절 문자열

In [13]:
boy = "I am a boy"
boy

'I am a boy'

In [14]:
girl = 'I am a girl'
girl

'I am a girl'

In [15]:
"I'm a girl"

"I'm a girl"

In [25]:
friend = """
I am a boy
I am a girl
"""
friend

'\nI am a boy\nI am a girl\n'

In [23]:
boy + ' ' + girl

'I am a boy I am a girl'

In [24]:
boy * 3

'I am a boyI am a boyI am a boy'

In [56]:
# 문자열 인덱싱
a = "Life is too short, You need Python"
a[0] + a[10] + a[16]

'Lot'

In [44]:
# 문자열 슬라이싱 
a[12:17]

'short'

In [46]:
a[:]

'Life is too short, You need Python'

In [47]:
a[0:]

'Life is too short, You need Python'

In [49]:
a[:20]

'Life is too short, Y'

### Lab 2
- 변수 a를 생성하여, 문자열 "I love Python"을 할당하시오.
- 변수 b를 생성하여, 문자열 "You hate Python"을 할당하시오.

- a에서 첫번째 o의 위치를 find 함수로 찾아보시오.
- b에서 첫번째 o의 위치를 index 함수로 찾아보시오.
- a의 'o' 문자 갯수를 세시오.

In [118]:
a = "I love Python"
b = "You hate Python"

In [119]:
a.find('o')

3

In [120]:
b.index('o')

1

In [121]:
a.count('o')

2

- 변수 a를 모두 대문자로 바꿔보시오.
- 변수 b를 모두 소문자로 바꿔보시오.

In [122]:
a.upper()

'I LOVE PYTHON'

In [123]:
b.lower()

'you hate python'

- 변수 a_6에 a의 첫 7글자들로 이루어진 부분 문자열을 할당하시오.
- 변수 a의 문자열을 공백을 이용하여 나눠보시오.

In [124]:
a_6 = a[0:7]
a_6

'I love '

In [125]:
a.split()

['I', 'love', 'Python']

In [57]:
a = "20180328Sunny"
year = a[:4]
month = a[4:6]
day = a[6:8]
weather = a[8:]
print(year,month,day,weather)

2018 03 28 Sunny

In [64]:
print(year,'년', month,'월', day,'일','날씨는',weather,'입니다.')

2018 년 03 월 28 일 날씨는 Sunny 입니다.

In [62]:
'year년 month월 day일 날씨는 weather 입니다.'

'year년 month월 day일 날씨는 weather 입니다.'

In [72]:
'{year}년 {month}월 {day}일 날씨는 {weather} 입니다.' .format(year=year, month=month, day=day, weather=weather)

'2018년 03월 28일 날씨는 Sunny 입니다.'

### 문자열 내장함수

In [87]:
a = '나는 나다.'
a.count('나')

2

In [90]:
# 위치 알려주기
a = 'hobby'
a.find('b')

2

In [91]:
# 위치 알려주기2
a.index('b')

2

In [93]:
# 문자열 삽입하기
a = ","
a.join("금은동")

'금,은,동'

In [95]:
# 대문자로
a = 'I love Python'
a.upper()

'I LOVE PYTHON'

In [97]:
# 소문자로
a.lower()

'i love python'

In [100]:
# 왼쪽 공백 지우기
a= "  hi "
a.lstrip()

'hi '

In [101]:
# 오른쪽 공백 지우기
a.rstrip()

'  hi'

In [102]:
# 양족 공백 지우기
a.strip()

'hi'

In [110]:
# 문자열 나누기
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

### Lab 3
#### 문자열 포매팅
- 변수 pi를 생성하고 3.141592를 할당하시오.
- 변수 sq_root를 생성하고 1.41429를 할당하시오.

다음의 출력을 포매팅을 사용하여 만드시오.
- pi is 3.141592 and square root of 2 is 1.14129

In [77]:
pi = 3.141592
sq_root = 1.41429

In [84]:
'Pi is {pi} and square root of 2 is {sq_root}' .format(pi=pi, sq_root=sq_root)

'Pi is 3.141592 and square root of 2 is 1.41429'

In [85]:
print('Pi is {pi} and square root of 2 is {sq_root}' .format(pi=pi, sq_root=sq_root))

Pi is 3.141592 and square root of 2 is 1.41429

## 3절 리스트