# 점프 투 파이썬 2장 이어서
## 3절 리스트

In [1]:
print('안녕하세요.')

안녕하세요.

In [2]:
print(123)

123

### 리스트 만들기

In [111]:
# 빈 리스트
a = []
a

[]

In [8]:
b = [1,2,3]
b

[1, 2, 3]

In [12]:
c = ["Life","is","too","short"]
c

['Life', 'is', 'too', 'short']

In [13]:
d = [1,2,'Life','is']
d

[1, 2, 'Life', 'is']

In [14]:
e = [1,2,['Life','is']]
e

[1, 2, ['Life', 'is']]

### 리스트의 인덱싱

[0:5] # 공간상 첫번째부터 다섯째까지

In [15]:
a = [1,2,3]
a

[1, 2, 3]

In [16]:
a[1]

2

In [17]:
a[-1]

3

In [18]:
a[-3]

1

In [19]:
e

[1, 2, ['Life', 'is']]

In [21]:
e[2]

['Life', 'is']

In [22]:
e[2][0]

'Life'

### 리스트의 슬라이싱

In [24]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [26]:
b = a[0:2]
b

[1, 2]

In [28]:
b = a[:2]
b

[1, 2]

### 리스트의 연산자

In [29]:
print(a,b)

[1, 2, 3, 4, 5] [1, 2]

In [32]:
c = a + b
c

[1, 2, 3, 4, 5, 1, 2]

In [33]:
c * 2

[1, 2, 3, 4, 5, 1, 2, 1, 2, 3, 4, 5, 1, 2]

### 리스트의 수정, 변경, 삭제

In [58]:
# 하나의 값 수정하기
a = [1,2,3]

In [55]:
a[2]=4
a

[1, 2, 4]

In [56]:
# 연속된 범위의 값 수정
a[2:3]

[4]

In [57]:
a[2:3] = ['a','b','c']
a

[1, 2, 'a', 'b', 'c']

In [61]:
# 중첩하여 수정
a[2] = ['a','b','c']
a

[1, 2, ['a', 'b', 'c']]

In [63]:
# 리스트 요소 삭제
a = [1,2,3]
del a[2]
a

[1, 2]

In [64]:
a = [1,2,3,4]
del a[1:3]
a

[1, 4]

### 리스트 함수

In [68]:
# 리스트에 요소 추가
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [70]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [71]:
# 리스트 정렬하기
a = [1,3,4,5,2]
a.sort()
a

[1, 2, 3, 4, 5]

In [72]:
# 리스트 뒤집기
a = [1,3,4,5,2]
a.reverse()
a

[2, 5, 4, 3, 1]

In [74]:
# 위치 변환
a = [1,2,3]
a.index(3)
# 3의 위치는?

2

In [75]:
# 리스트에 요소 삽임
a = [1,2,3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [76]:
a.insert(3,5)
a

[4, 1, 2, 5, 3]

In [78]:
# 리스트 요소 제거
a = [1,2,3,1,2,3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [79]:
# 리스트 요소 꺼내기
a = [1,2,3]
a.pop()

3

In [80]:
a

[1, 2]

In [81]:
# 요소 갯수 세기
a = [1,2,3,1]
a.count(1)

2

In [87]:
# 리스트 확장
a = [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [88]:
a.append([5,6])
a

[1, 2, 3, 4, 5, [5, 6]]

## 튜플

In [89]:
t1 = ()
t2 = (1, )
t3 = (1,2,3)
t4 = ('a', 'b')
print(t1,t2,t3,t4)

() (1,) (1, 2, 3) ('a', 'b')

In [90]:
del t3(0)

SyntaxError: can't delete function call (<ipython-input-90-c39d85adecce>, line 1)

### 딕셔너리

In [92]:
dic = {'name': '윤태성', 'phone': '012311124124'}
print(dic)

{'name': '윤태성', 'phone': '012311124124'}

In [95]:
dic['name']

'윤태성'

In [96]:
dic['phone']

'012311124124'

In [100]:
dic = {'name' : '윤태성', 'name' : '개똥이'}
dic['name']

'개똥이'

In [105]:
dic.keys()

dict_keys(['name'])

In [106]:
dic.values()

dict_values(['개똥이'])

### 불 자료형(bool)

In [107]:
# T / F
# True / False
3>1

True

In [108]:
1 > 3

False

In [110]:
if []:
    print('참')
else:
    print('거짓')

거짓

# 3장 제어문
## 1. if문

In [114]:
money = 0 # 돈이 있다.
if money:
    print("택시 타자")
else:
    print("걸어 가야해ㅠ")

걸어 가야해ㅠ

In [115]:
# 기본구조
if 조건문:
    수행 문장1
    수행 문장2
else:
    수행 문장A
    수행 문장B
# Tab 1번 or spacebar 4번

SyntaxError: invalid syntax (<ipython-input-115-4975c304dfb6>, line 3)

In [116]:
money = 2000
if money >= 3000:
    print('택시 타자')
else:
    print('걸어 가자')

걸어 가자

In [117]:
money = 2000
card = 1
if money >= 3000 or card:
    print('택시')
else:
    print('걸어')

택시

In [118]:
pocket = ['paper', 'handphone', 'card']
if 'money' in pocket:
    print("택시 타자")
else:
    if card:
        print("택시 타자")
    else:
        print("걸어 가자")

택시 타자

In [119]:
# elif 활용
if "money" in pocket:
    print("택시")
elif "card" in pocket:
    print("택시")
else:
    print("걷기")

택시

In [ ]:
# 구문
if <조건문>:
    수행문장1
    수행문장2
elif <조건문>:
    수행문장1
    수행문장2
elif <조건문>:
    수행문장1
    수행문장2
else:
    수행문장1
    수행문장2